html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.encabezado {
  font-family: "allura";
}

.encabezado::first-letter {
  color: #806000;
  font-size: 1.5em;
}


.catalogo_container{
  justify-content: center;
  gap: 12px;
}

.form_container {
  max-width: 50%;
}

footer {
  position: relative;
  bottom: 0;
  height: 10%;
  padding: 12px;
  gap: 12px;
}

#copyright {
  width: 100%;
  padding-bottom:5px ;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  display: inline !important;
}

@media screen and (max-width: 800px) {
  .footer_list {
    gap: 15px;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }

  .catalogo_container{
    gap: 15px;
    flex-flow: column;
    align-items: center;

  }

  #copyright {
    text-align: center;
    font-size: 12px;

  }
}
