html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.encabezado {
  font-family: "allura";
}

.encabezado::first-letter {
  color: #806000;
  font-size: 1.5em;
}
.media-queri{
  margin: auto 5px;
}
.background-catalogo{
  padding: 20px;
  background:linear-gradient(45deg,#a17b0c, #b98e02, #d6a803 , #8d5e02 ,#be9109, #806000) ;
  animation: cambiar 9s ease infinite;
  background-size: 400% 400%;
}
.titulo-productos{
font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-weight: 800;
color: #fff;
text-shadow: #020201 3px 3px 4px;
/* box-shadow: #4e3b03 13px   6px 1px; */
font-size: 2.3rem;
}

.titulo-categoria{
  font-family:  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  font-size: 1.8rem;
  text-align: center;
  padding: 10px;
font-weight: 800;
color: #fff;
text-shadow: #000000 3px 3px 4px;
/* box-shadow: #4e3b03 13px   6px 1px; */
}

.catalogo_container{
  padding: 10px;
  justify-content: center;
  gap: 12px;
}

#card-estilo{
  background-color: #494844;
  box-shadow: #383333 6px 4px 6px;
  color: rgb(203, 203, 203);
  text-shadow: 3px 3px 3px #000;
}

.card img {
  height:15rem;
}

.form_container {
  max-width: 50%;
}

.captcha > div{
  max-width: 10% !important;
}

footer {
  position: relative;
  bottom: 0;
  height: 10%;
  padding: 12px;
  gap: 12px;
}

#copyright {
  width: 100%;
  padding-bottom:5px ;
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  display: inline !important;

}


.btn_submit_disable{
  visibility: hidden;
}

.btn_submit_visible{
  visibility: visible;
}
/* animaciones */
@keyframes cambiar {
  0%{background-position: 0 50%;}
  50%{background-position: 100% 50%;}
  100%{background-position: 0 50%;}
  
}
/* animaciones */
@media screen and (max-width: 800px) {
  .footer_list {
    gap: 15px;
    flex-flow: column;
    align-items: center;
    text-align: center;
  }

  .catalogo_container{
    gap: 15px;
    flex-flow: column;
    align-items: center;
  }

  #copyright {
    text-align: center;
    font-size: 12px;
  }
}

