html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul , li{
  list-style: none;
}

* {
  box-sizing: border-box;
}

.encabezado{
 font-family: 'allura';
}

.encabezado::first-letter{
  color: #806000 ;
  font-size: 1.5em;
}


footer{
  position: absolute;
  bottom: 0;
  height: 15em;
  padding: 12px;
}

#copyright{
  padding: 30px;
  width: 100%;
  gap:5px;
  display: flex;
  justify-content: center;
}

.nav-link{
  display: inline !important;
}


