html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul , li{
  list-style: none;
}

* {
  box-sizing: border-box;
}

footer{
  position: absolute;
  bottom: 0;
  height: 15em;
  padding: 12px;
}

footer ul {
  
}

#copyright{
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-link{
  display: inline !important;
}


